<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>

<body>
    <h1>Add a new wiki</h1>
    <p>
        <form action="/articles" method="post">
            <input type="text" name="title" placeholder="name of article" required>
            <br>
            <textarea name="body" rows=5 cols=50 required></textarea>
            <button>Submit</button>
        </form>
    </p>
</body>

</html>