<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<!--    Could be authors.name-->
    <h1><%= author.name %></h1>
    <h3>Contributed to:</h3>
    <li><a href="/article/<%= articles.article_id %>"><%= articles.title %></a></li>
</body>
</html>